body {
  background-color: #121212; 
  color: #b3b3b3;            
  font-family: monospace;
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 { color: #8b5cf6; }

a { color: #a855f7; }

a:hover { text-decoration: underline; }

nav { 
  margin-bottom: 2rem; 
  border-bottom: 1px solid #333; 
  
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem; 
}

nav a {
  padding: 0.5rem;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

html { font-size: 115%;}

p, li {
  font-size: 1.15rem;
  line-height: 1.7;
}

li { margin-bottom: 0.5rem;}
